In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('Customer.csv')
df.head()

   id  name  referee_id
0   1  Will         NaN
1   2  Jane         NaN
2   3  Alex         2.0
3   4  Bill         NaN
4   5  Zach         1.0

In [7]:
# Filtering the DataFrame
filtered_customers = df[(df['referee_id'] != 2) | (df['referee_id'].isnull())]

# Selecting the name column
result = filtered_customers['name']

print(result)

0    Will
1    Jane
3    Bill
4    Zach
Name: name, dtype: object