In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('Products.csv')
df.head()

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [3]:
# Filter for products that are both low fat and recyclable
result = df[(df['low_fats'] == 'Y') & (df['recyclable'] == 'Y')]

# Select only the product_id column
result = result['product_id']

print(result)

1    1
3    3
Name: product_id, dtype: int64